* {
    margin: 0;
    padding: 0;;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 2em;
}

.mainContainer img {
    width: 250px;
    border-radius: 100%;
    border: 2px solid white;
    margin-bottom: 2em;
}

.mainContainer ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    opacity: 80%;
    margin: 1em;
    font-size: 1.1em;
    padding: 0.8em;
    width: 20em;
    border-radius: 5px;
    text-align: center;
    list-style: none;
}

.mainContainer ul li a {
    text-decoration: none;
}